body{
 
  background-color: #666;
    
}

nav{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 530px;
  background-color: red;
  border-radius: 60px;
 
}


  a{
    
    text-decoration: none;
    color: white;

  }
a:hover{
  color: black;
  background-color: white;
}

.contenido{
  padding-bottom: 130px;
  margin-bottom: 120px;
}


footer{
  
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 570px;
  background-color: red;
  border-radius: 60px;
}



.link{
  font-size: 1.1em;
  
  margin-left: 30px;
 
}
